{%- set external_urls = {
  'github': 'https://github.com/shor-team/shor',
  'github_issues': 'https://github.com/shor-team/shor/issues',
  'contributing': 'https://github.com/shor-team/shor/blob/master/CONTRIBUTING.md',
  'docs': 'https://shor.dev/docs/stable/index.html',
  'docs_gates': 'http://localhost:1919/shor.html#module-shor.gates',
  'docs_quantum_circuit': 'http://shor.dev/docs/shor.html#shor.quantum.QuantumCircuit',
  'docs_providers': 'http://localhost:1919/shor.providers.qiskit.html#module-shor.providers.qiskit.ibmq',
  'slack': 'https://shorhq.slack.com',
  'discuss': 'https://discuss.shor.dev',
  'tutorials': 'https://shor.dev/tutorials',
  'home': 'https://shor.dev/',
  'install': 'https://pypi.org/project/shor',
  'get_started': 'https://shor.dev/#QuickStart',
  'features': 'https://shor.dev/features',
  'ecosystem': 'https://shor.dev/ecosystem',
  'blog': 'https://shor.dev/blog/',
  'resources': 'https://shor.dev/resources',
  'support': 'https://shor.dev/support',
  'mobile': 'https://shor.dev/mobile',
  'hub': 'https://shor.dev/hub',
  'youtube': 'https://www.youtube.com/channel/UCnVO_mPw8u9Wbrnep2b7Q6A',
}
-%}
