{%- set external_urls = {
  'github': 'https://github.com/shor-team/shor',
  'github_issues': 'https://github.com/shor-team/shor/issues',
  'contributing': 'https://github.com/shor-team/shor/blob/master/CONTRIBUTING.md',
  'docs': 'https://shor.dev/docs/stable/index.html',
  'twitter': 'https://twitter.com/shor',
  'facebook': 'https://www.facebook.com/shor',
  'slack': 'https://shor.slack.com',
  'discuss': 'https://discuss.shor.dev',
  'tutorials': 'https://shor.dev/tutorials',
  'previous_shor_versions': 'https://shor.dev/previous-versions/',
  'home': 'https://shor.dev/',
  'get_started': 'https://shor.dev/get-started',
  'features': 'https://shor.dev/features',
  'ecosystem': 'https://shor.dev/ecosystem',
  'blog': 'https://shor.dev/blog/',
  'resources': 'https://shor.dev/resources',
  'support': 'https://shor.dev/support',
  'mobile': 'https://shor.dev/mobile',
  'hub': 'https://shor.dev/hub',
  'youtube': 'https://www.youtube.com/shor',
  'brand_guidelines': 'https://shor.dev/assets/brand-guidelines/Shor-Brand-Guidelines.pdf',
  'community': 'https://shor.dev/#community-module',
  'forums': 'https://discuss.shor.dev/',
  'audio': 'https://shor.dev/audio/stable/index.html',
  'text': 'https://shor.dev/text/stable/index.html',
  'vision': 'https://shor.dev/vision/stable/index.html',
  'elastic': 'https://shor.dev/elastic/',
  'serve': 'https://shor.dev/serve/',
  'xla': 'https://shor.dev/xla'
}
-%}
