{%- set external_urls = {
  'github': 'https://github.com/shor-team/shor',
  'github_issues': 'https://github.com/shor-team/shor/issues',
  'contributing': 'https://github.com/shor-team/shor/blob/master/CONTRIBUTING.md',
  'docs': 'https://shor.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/shor',
  'facebook': 'https://www.facebook.com/shor',
  'slack': 'https://shor.slack.com',
  'discuss': 'https://discuss.shor.org',
  'tutorials': 'https://shor.org/tutorials',
  'previous_shor_versions': 'https://shor.org/previous-versions/',
  'home': 'https://shor.org/',
  'get_started': 'https://shor.org/get-started',
  'features': 'https://shor.org/features',
  'ecosystem': 'https://shor.org/ecosystem',
  'blog': 'https://shor.org/blog/',
  'resources': 'https://shor.org/resources',
  'support': 'https://shor.org/support',
  'mobile': 'https://shor.org/mobile',
  'hub': 'https://shor.org/hub',
  'youtube': 'https://www.youtube.com/shor',
  'brand_guidelines': 'https://shor.org/assets/brand-guidelines/Shor-Brand-Guidelines.pdf',
  'community': 'https://shor.org/#community-module',
  'forums': 'https://discuss.shor.org/',
  'audio': 'https://shor.org/audio/stable/index.html',
  'text': 'https://shor.org/text/stable/index.html',
  'vision': 'https://shor.org/vision/stable/index.html',
  'elastic': 'https://shor.org/elastic/',
  'serve': 'https://shor.org/serve/',
  'xla': 'https://shor.org/xla'
}
-%}
